
<agm-map [zoom]=15 [latitude]="usersCurrentLocation?.lat" [longitude]="usersCurrentLocation?.lng">

  <agm-marker [latitude]="usersCurrentLocation?.lat" [longitude]="usersCurrentLocation?.lng">

    <agm-info-window>
      <h3><strong>You are here!</strong></h3>
    </agm-info-window>

  </agm-marker>

  <agm-marker *ngFor="let company of companiesArray"
    [latitude]="company?.companyLocation?.coordinates[0]" [longitude]="company?.companyLocation?.coordinates[1]"
    [iconUrl]="'../../../assets/icons/restaurant-icon.png'">

    <agm-info-window>
      <h3><strong>{{ company.companyName | titlecase }}</strong></h3>
    </agm-info-window>

  </agm-marker>

</agm-map>
