
@import '../../../assets/styles/commonStyles.scss';

agm-map {
  height: 480px;
  width: 100%;
}

h4, h6, span{
  width: 100%;
  text-align: center;
}

h6{
  color: $mainGray;
}

h4, span{
  color: $mainGreen;
}

h4{
  font-weight: bold;
}

.map-wrapper{
  @include shadowBottom(0, 8px, 6px, -6px, #333); 
}
