
@import '../../../assets/styles/commonStyles.scss';

.navbar{
  background: $mainGreen;
  @include shadowBottom(0, 4px, 6px, -6px, darken($mainGreen, 20%)); 
}

.navbar-brand{
  color: #FFF;
}

.nav-item{
  color: #FFF;
  cursor: pointer;
  padding: 0 2%;
  width: 100px;
  text-align: center;
}
  
.navbar-collapse{
  width: 100%;
}
