
@import '../../../assets/styles/sidebarStyles.scss';


.category-label {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  color: $mainGray;
  @extend .user-select-none;
  &:hover{
    color: darken($mainGray, $defaultPercentage);
  }
}

.category-label .category-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
}

.category-span {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: $mainBorder;
}

.category-label:hover .category-checkbox ~ .category-span {
  background: lighten($mainGreen, $defaultPercentage);
}

.category-checkbox:checked ~ .category-span {
  background: $mainGreen;
}

.category-span:after {
  content: "";
  position: absolute;
  display: none;
}

.category-label .category-checkbox:checked ~ .category-span:after {
  display: block;
}

.category-label .category-span:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
