<div class="container">

    <div class="row">

      <div class="col-sm-6" *ngFor="let item of trendingItemsArray">
        <app-trending-item
        [itemName]="item.itemName"
        [itemPrice]="item.itemPrice"
        [itemDescription]="item.itemDescription"
        [itemAvatar]="item.itemAvatar"
        [companyPath]="item.companyPath"
        [companyName]="item.companyName">
      </app-trending-item>
    </div>

    </div>
  
    <app-loading-spinner *ngIf="trendingLayoutSpinner"></app-loading-spinner>
        
  </div>
  