<div class="container">
  <div class="row">

    <div class="sidebar-block">

      <div class="sidebar-block-title">
          <h3 class="sidebar-title">{{searchWord}}</h3>
        </div>
    
        <div *ngIf="searchCompanyForm; then searchCompanyComponent; else searchNearMeComponent"></div>
    
        <ng-template #searchCompanyComponent>
          <app-sidebar-search-company (companyNameEvent)="receiveCompany($event)"></app-sidebar-search-company>
        </ng-template>
    
        <ng-template #searchNearMeComponent>
          <app-sidebar-search-near-me (formDataEmitter)="receiveLocation($event)" (mapEmitter)="receiveMap($event)"></app-sidebar-search-near-me>   
        </ng-template>
    
        <div class="sidebar-block-btn">
          <button class="toggle-btn" (click)="toggleSearch()"><i [class]="faIcon" aria-hidden="true"></i> Toggle Search</button>
        </div>
    
        <div class="sidebar-block-title">
          <h3 class="sidebar-title">Sort By</h3>
        </div>

        <app-sidebar-sort (dropdownValueEvent)="receiveSortOptions($event)" [searchCompanyForm]="searchCompanyForm"
          [disableSelect]="disableSelect">   
        </app-sidebar-sort>
    
        <div class="sidebar-block-title">
          <h3 class="sidebar-title">Pick Cuisines</h3>
        </div>
            
        <app-sidebar-filter-sort [categories]="categories" (categoryEvent)="receiveCategory($event)" [categoriesSpinner]="categoriesSpinner"> 
        </app-sidebar-filter-sort>

    </div>
    
  </div>
</div>
