<div class="row company-item" [routerLink]="['/company', companyPath]">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 company-item-header-left">
    <div class="company-img-wrapper">
      <img class="img-responsive company-img" [src]="companyAvatar || '../../../assets/img/defaultCompanyImg.jpg'"/>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 company-item-header-right">
    <h2 class="company-item-title">{{ companyName | titlecase }}</h2>
    <p class="company-item-description">{{ companyDescription }}</p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 company-item-footer-left">
    <p class="stars-paragraph" *ngFor="let star of stars"><i class="fa fa-star fa-lg stars-icons" aria-hidden="true"></i></p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 company-item-footer-right">
    <p class="distance-paragraph" *ngIf="distanceFromUser !== undefined">Distance from user: {{ distanceFromUser?.calculated | number:'1.0-0' }} m </p>
  </div>
</div>
