
@import '../../../assets/styles/commonStyles.scss';

.company-item{
  cursor: pointer;
  margin-bottom: 20px;
  background: #FFF;
  @include shadowBottom(0, 8px, 6px, -6px, #333); 
}

.company-item-title{
  color: $mainGreen;
}

.company-item-description{
  color: $mainGray;
}

.company-item:hover .company-item-title{
  color: darken($mainGreen, 7%);
}

.company-item:hover .company-img{
  transform: scale(1.1);
}

.company-item-header-left, .company-item-header-right{
  height: 180px;
}

.company-item-footer-left, .company-item-footer-right{
  height: 20px;
  margin-bottom: 10px;
}

.company-item-header-left{
  @extend .flex-centered;
  &:hover{
    transition: all 0.75s;
  }
}

.company-item-header-right{
  @extend .flex-centered;
  text-align: center;
}

.company-img-wrapper{
  overflow: hidden;
  z-index: 2;
  height: 150px;
  width: 90%;
  text-align: center;
}
  
.company-img{
  height: 100%;
  width: 100%;
  transition: all 0.65s;
}

.stars-paragraph{
  float: left;
  padding-left: 5px;
}

.stars-icons{
  color: $mainGreen;
}
