
@import '../../../assets/styles/commonStyles.scss';

.company-item{
  cursor: pointer;
  height: 180px;
}

.company-item-title{
  color: $mainGreen;
}

.company-item-description{
  color: $mainGray;
}

.company-item:hover .company-item-title{
  text-decoration: underline;
}

.company-item:hover .company-img{
  transform: scale(1.1);
}

.company-item-left{
  @extend .flex-centered;
  &:hover{
    transition: all 0.75s;
  }
}

.company-item-right{
  @extend .flex-centered;
  text-align: center;
}

.company-img-wrapper{
  overflow: hidden;
  z-index: 2;
  height: 160px;
  width: 90%;
  text-align: center;
}
  
.company-img{
  height: 100%;
  width: 100%;
  transition: all 0.65s;
  border:$mainBorder;
}
  