
$bodyBackground: #EEE;
$containerBackground: #FFF;
$containerRadius: 2pc;

.layout-container{
  background: $containerBackground;
  border: 1px solid $bodyBackground;
  border-radius: $containerRadius;
  height: 100vh;
}

.flex-centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
