
$mainGreen: #c1d82d;
$mainGray: #adb7bf;
$defaultPercentage: 15%;
$mainBorder: 2px solid $mainGreen;

$bodyBackground: #EEE;
$containerBackground: #FFF;
$containerRadius: 2pc;

.layout-container{
  border: $mainBorder;
  border-radius: $containerRadius;
  height: 100vh;
}

.flex-centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.user-select-none{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin shadowBottom($top, $down, $left, $right, $color){
  -webkit-box-shadow: $top $down $left $right $color;  
  -moz-box-shadow:    $top $down $left $right $color; 
  box-shadow:         $top $down $left $right $color; 
}

hr{
  border: none;
  height: 1px;
  color: $mainGreen;
  background: $mainGreen;
}

.search-form{
  width: 100%;
  height: 100px;
  // @extend .flex-centered;
  background: #006ce0;
}

.search-input, .search-btn{
  float: left;
  height: 35px;
}

.search-input{
  border: 1.5px solid #006ce0;
  padding-left: 10px;
  width: 85%; 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-btn{
  border-radius: none;
  border: none;
  width: 15%;
  background: #505458;
  color: #FFF;
  opacity: .8;
  transition: 0.3s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  &:hover{
    opacity: 1;
  }
}
