
$mainGreen: #c1d82d;
$mainGray: #adb7bf;
$mainBorder: 2px solid $mainGreen;

$bodyBackground: #EEE;
$containerBackground: #FFF;
$containerRadius: 2pc;

.layout-container{
  border: $mainBorder;
  border-radius: $containerRadius;
  height: 100vh;
}

.flex-centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@mixin shadowBottom($top, $down, $left, $right, $color){
  -webkit-box-shadow: $top $down $left $right $color;  
  -moz-box-shadow:    $top $down $left $right $color; 
  box-shadow:         $top $down $left $right $color; 
}

hr{
  color: $mainGreen;
  background: $mainGreen;
}