
<div class="sidebar-block-component">
  <div class="sidebar-block-content">

    <form [formGroup]="searchNearByForm" novalidate (ngSubmit)="handleSubmit()">

      <input title="Enter your address" type="text" placeholder="address" class="search-input" 
        formControlName="searchAddress" [value]="addressInput" required/> 
        
      <button title="Get current location" (click)="myLocation()" class="location-btn">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </button>

      <div *ngIf="searchAddress.errors && (searchAddress.dirty || searchAddress.touched)">
        <p class="error-message" *ngIf="searchAddress.errors.required">
          Address field is required 
          </p>
        <p class="error-message" *ngIf="searchAddress.errors.minlength">
          Address requires at least 3 characters 
        </p>
      </div>
    
      <label class="search-label">Maximum Distance (m)
        <input title="Maximum distance from you" type="number" class="distance-input" placeholder="e.g: 1000" formControlName="maxDistance" required>
        
        <div *ngIf="maxDistance.errors && (maxDistance.dirty || maxDistance.touched)">
          <p class="error-message" *ngIf="maxDistance.errors.required">
            Maximum distance field is required 
            </p>
          <p class="error-message" *ngIf="maxDistance.errors.minimumNumber">
            Distance cannot be less than zero
          </p>
        </div>
      </label>
    
      <label class="search-label">Minimum Distance (m)
        <input title="Minimum distance from you" type="number" class="distance-input" placeholder="optional" formControlName="minDistance">

        <div *ngIf="minDistance.errors && (minDistance.dirty || minDistance.touched)">
          <p class="error-message" *ngIf="minDistance.errors.minimumNumber">
            Distance cannot be less than zero
          </p>
        </div>
      </label>

      <div class="side-by-side">
        <button *ngIf="displayMapBtn" title="Display Map" (click)="toggleMap()" class="other-btn"><i class="fa fa-map-o" aria-hidden="true"></i></button>    
        <button type="submit" title="Search Near By" class="other-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>

    </form>
    
  </div>
</div>
